.xTextArea.default{
	padding-top: 20px;
	padding-bottom: 20px;
}
.xTextArea.default.Disabled{
	cursor: not-allowed;
}
.xTextArea.default.Disabled label, .xTextArea.Disabled i{
	color: #b5b5b5 !important;
	cursor: not-allowed;
	pointer-events: none;
}
.xTextArea.default.Disabled textarea{
	border-bottom: 1px solid #b5b5b5;
	color: #b5b5b5 !important;
	cursor: not-allowed;
	pointer-events: none;
}
.xTextArea.default.Error textarea{
	border-bottom: 1px solid #ff3860;
}
.xTextArea.default Error label{
	color: #ff3860;
}
.xTextArea.default .xTextAreaGroup{ 
	position: relative; 
}
.xTextArea.default .xTextAreaGroup textarea{
	font-size: 18px;
	padding-bottom: 3px;
	padding-bottom: 3px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	outline: none;
}
.xTextArea.default .xTextAreaGroup label{
	position: absolute;
	top: 3px;
	font-size: 17px;
	pointer-events: none;
	transition: all .3s;
}
.xTextArea.default .xTextAreaGroup .counter{
	position: absolute;
	right: 0;
	top: 100%;
	white-space: nowrap;
	display: none;
	font-size: 12px;
	font-weight: 400;
}
.xTextArea.default .xTextAreaGroup .xInputIcon.fa{
	position: absolute !important;
    left: 1px !important;
    top: 5px !important;
    font-size: 16px !important;
}
.xTextArea.default .xTextAreaGroup .xInputIcon.material-icons{
	position: absolute !important;
    left: 1px !important;
    top: 5px !important;
    font-size: 16px !important;
}
.xTextArea.default .xTextAreaGroup .error{
	font-size: 13px;
	font-weight: 400;
	color: crimson;
	margin: 0;
	position: absolute;
    top: 100%;
    left: 0px;
    width: calc(100% - 60px);
}
.xTextArea.default .xTextAreaGroup .bar{
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 0 !important;
}
.xTextArea.default .xTextAreaGroup .bar:before, .xTextArea.default .xTextAreaGroup .bar:after{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.xTextArea.default .xTextAreaGroup .bar:before{
	left:50%;
}
.xTextArea.default .xTextAreaGroup .bar:after{
	right:50%;
}
.xTextArea.default .xTextAreaGroup .barActive.bar:before, .xTextArea.default .xTextAreaGroup .barActive.bar:after{
	width:50%;
}
.xTextArea.default .RequiredMark{
	    position: relative;
    margin-left: 5px;
    bottom: 3px;
    font-size: 15px;
    color: red;
}