@keyframes xTableActionHeaderGoUp{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-110%);
	}
}
@keyframes xTableActionHeaderComeDown{
	0%{
		transform: translateY(-110%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes xGridLoaderSpin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.xTableActionHeaderGoUpAni{
	animation-duration: 500ms;
	animation-name: xTableActionHeaderGoUp;
}
.xTableActionHeaderComeDownAni{
	animation-duration: 500ms;
	animation-name: xTableActionHeaderComeDown;
}
.xTable{
	margin: auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
}
.xTableGrid{
	background: #fff;
	height: inherit;
	border-top: 1px solid #eee;
}
.xTableHeader{
	display: flex;
	background: #4089b9;
}
.xTableHeaderCell{
	height: inherit;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #00bcd4;
	flex-direction: column;
}
.xTableHeaderCell.fixed{
	top: 0;
	position: sticky;
	height: 100%;
	background: #4089b9;
	z-index: 10;
}
.xTableSearchInputContainer{
	width: 350px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}
.xTableSearchInputContainer i{
	position: absolute;
    right: 15px;
    top: 9px;
    color: #b5b5b5;
    cursor: pointer;
}
.xTableRow{
	width: inherit;
	height: 30px;
	border-bottom: 1px solid #ccc;
	display: flex;
	cursor: pointer;
	position: relative;
}
.xTableGridContainer{
	overflow-x: scroll;
	overflow-y: scroll;
	width: inherit;
}
.xTableSelectedRow{
	background: #f7ed95;
}
.xTableRow:hover{
	background: #fff8bc !important;
}
.xTableRow:hover .xTableCell.fixed{
	background: #fff8bc !important;
}
.xTableCell{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	padding-left: 3px;
	font-size: 13px;
	border-right: 1px solid #ccc;
}
.xTableCell.fixed{
	top: 0;
	position: sticky;
	height: 100%;
	background: #f2fbff;
	z-index: 10;
}
.xTableRow .xTableCell:last-child{
	border-right: none !important;
}
.xTableRow.xTableSelectedRow .xTableCell.fixed{
	background: #f7ed95 !important;
}
.xTableSearchHeader{
	display: none;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: 60px;
	background: #fff;
}
.xTableSearchHeader input{
	width: 100%;
	height: 40px;
	font-size: 18px;
	border-radius: 20px;
	outline: none;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	border: 1px solid #dfe1e5;
	padding-left: 20px;
	padding-right: 20px;
}
.xTableHeaderTitle{
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	cursor: pointer;
	padding-left: 5px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.xTableHeaderTitle>div:first-child{
	display: flex;
	align-items: center;
	flex: 1;
	font-size: 13px;
	font-weight: 400;
}
.xTableHeaderSort .material-icons{
	font-size: 15px;
}
.xTableHeaderSearchContainer{
	width: 100%;
	background: #607d8b;
	display: flex;
	align-items: center;
}
.xTableHeaderSearchContainer i{
	margin-right: 5px;
	font-size: 12px;
	margin-left: 5px;
	color: #d2c97d;
}
.xTableHeaderCell .xTableHeaderSearchContainer input{
	width: 100%;
	border: 0;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #fff;
	font-size: 15px;
	background: inherit;
}
.xTableHeaderCell .xTableHeaderSearchContainer.active{
	background: #c7684a !important
}
.xTableHeaderCell .xTableHeaderSearchContainer input::placeholder{
	font-size: 11px;
	font-weight: 400;
	color: #d2c97d;
}
.xTableActionHeader{
	background: #ededed;
	display: flex;
	position: fixed;
	height: 50px;
	width: 100%;
	right: 0;
	top: 0;
	left: 0;
	z-index: 10000;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	transition: 500ms all;
	animation-fill-mode: forwards;
}
.xTableFooter{
	background: #607D8B;
	height: 50px;
	width: 100%;
	display: flex;
}
.xTableTotalPagesCount{
	font-size: 12px;
	color: #fff;
}
.xTable .sortActive *{
	color: #FFC107;
	font-style: italic;
}
.xTableGlobalSearch{
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.xTableGlobalSearchInput{
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	background: #406373;
	border: 0;
	border-radius: 3px;
	color: #f1f1f1;
	height: 30px;
	outline: none;
}
/* Full Screen */
.xTable.vidhikarya.default.fullscreen{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.xTable.vidhikarya.default.fullscreen .xTableGridContainer{
	flex: 1;
}
.xTable.vidhikarya.default.fullscreen .xTableHeader{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
/* xTable Scrollbar */
.xTable .xTableGridContainer::-webkit-scrollbar {
  height: 15px;
}
.xTable .xTableGridContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px #607D8B;
}
.xTable .xTableGridContainer::-webkit-scrollbar-thumb {
  background: #9e8f8a;
  transition: all 300ms;
  cursor: pointer;
}
.xTable .xTableGridContainer::-webkit-scrollbar-thumb:hover{
  background: #86736c;
}
/* xTable - Pagination */
.xTable .xIcon.vidhikarya.default.hasIcon{
	padding-right: 5px;
}
.xTable .xTablePagination{
	display: flex;
	height: 100%;
}
.xTable .xTableLeftNavigation, .xTable .xTableRightNavigation{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background: #698796;
	user-select: none;
}
.xTable .xTableLeftNavigation.disabled, .xTable .xTableRightNavigation.disabled{
	cursor: not-allowed;
	pointer-events: none;
}
.xTable .xTableLeftNavigation.disabled i, .xTable .xTableRightNavigation.disabled i{
	color: #607d8b !important;
}
.xTableGlobalSearchInput.active{
	background: #c7684a !important
}
.xTable .xTableLeftNavigation:hover{
	background: #406373;
}
.xTable .xTableLeftNavigation *{
	color: #fff;
}
.xTable .xTableRightNavigation:hover{
	background: #406373;
}
.xTable .xTableRightNavigation *{
	color: #fff;
}
.xTablePageCount{
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	height: 100%;
	width: 50px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	background: #607d8b;
}
.xTablePageCount:hover{
	background: #406373;
}
.xTableStatusContainer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
}
.xTableTotalRecords{
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
.xTableFooterSpacer{
	flex: 1;
}
.ExcelDownloadContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	cursor: pointer;
	transition: 100ms all;
}
.ExcelDownloadContainer:hover{
	background: #4d595f;
}
.ExcelDownloadContainer i{
	color: #fff;
}
.CellToolTip{
	position: fixed;
	z-index: 10000;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	display: none;
	justify-content: flex-start;
	align-content: center;
	padding: 10px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 12px;
	font-weight: 500;
	pointer-events: none;
	transition: all 0.1s;
	max-width: 400px;
}
/* Loading Button */
.xTable.default .GridLoader.xButton{
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60px;
    left: 47%;
}
.xTable.default .GridLoader .xButtonElement{
	width: inherit;
	height: 40px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	border-style: none;
	border-radius: 4px;
	display: inline-flex;
	flex: 0 0 auto;
	letter-spacing: .0892857143em;
	justify-content: center;
	outline: 0;
	position: relative;
	text-decoration: none;
	background: #795548;
}
.xTable.default .GridLoader .xButtonLoader{
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid #795548; /* default */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: xGridLoaderSpin 2s linear infinite;
}
.xTable.default .xButtonLoader{
	border-top: 3px solid #1976d2;
}

/* xTable PageNumber Scrollbar */
.xTable.default .xDropdownContentContainer::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.xTable.default .xDropdownContentContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px #607D8B;
}
.xTable.default .xDropdownContentContainer::-webkit-scrollbar-thumb {
  background: #9e8f8a;
  transition: all 300ms;
  cursor: pointer;
}
.xTable.default .xDropdownContentContainer::-webkit-scrollbar-thumb:hover{
  background: #86736c;
}
.xTable.default .xDropDown{
	position: relative;
}
.xTable.default .xDropDown.Disabled{
	pointer-events: none;
	cursor: not-allowed;
}
.xTable.default .xDropdownTrigger{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.xTable.default .xDropdownContentContainer{
	display: none;
	position: absolute;
	justify-content: center;
	align-items: center;
	background: rgba(41, 41, 41, 0.9607843137254902);
	z-index: 1000;
	overflow-y: auto;
	height: auto !important;
	max-height: 200px !important;
	height: 200px;
	width: 60px;
}
.xTable.default .xDropdownContent{
	width: inherit;
	height: inherit;
	background: #fff;
	display: block;
}
.xTable.default .xDropdownTrigger{
	height: 100%;
}
.xTable.default .xTableFooter .xStaticList{
	background: #f44336;
}
.xTable.default .xTableFooter .xStaticList .xStaticListItem{
	border-bottom: 1px solid #d24012;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: 300ms all;
	padding-top: 5px;
	padding-bottom: 5px;
}
.xTable.default .xTableFooter .xStaticList .xStaticListItem.Selected{
	background: #f38279 !important;
}
.xTable.default .xTableFooter .xStaticListItem:hover{
	background: #ad3813;
}
/* Mobile Modal */
.xTable.default .xDropdownContentContainer.MobileModal{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;	
	max-height: 100vh;
	z-index: 10000;
}
.xTable.default .xDropdownContentContainer.MobileModal .xDropdownContent{
	width: 80%;
	height: auto;
	max-height: calc(100vh - 100px);
}

@media only screen and (max-width: 700px) {
	.xTableCell{
		font-size: 12px;
	}
	.xTableSearchHeader input{
		font-size: 15px;
		height: 35px;
	}
	.xTableSearchInputContainer i{
		right: 17px;
    	top: 7px;
	}
}