.xAutoComplete.default{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Overriding Textbox */
.xAutoComplete.default .xTextBox{
	width: 100%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
/* Overriding DropDown */
.xAutoComplete.default .xDropDown.vidhikarya.default .xDropdownContentContainer{
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	z-index: 100;
}
/* Overriding List */
.xAutoComplete.default .xStaticList.vidhikarya.default{
	max-height: 250px;
	overflow-y: auto;
}
.xAutoComplete.default .xStaticList.vidhikarya.default .xStaticListItem{
	cursor: pointer;
	transition: 300ms all;
}
.xAutoComplete.default .xStaticList.vidhikarya.default .xStaticListItem:hover{
	background: #eee;
}
.xAutoComplete.default .xStaticList.vidhikarya.default .xStaticListItem.Selected{
	background: #673AB7 !important;
}
.xAutoComplete.default .xStaticList.vidhikarya.default .xStaticListItem.Selected *{
	color: #fff !important;
}
/* State : hidden */
.xAutoComplete.default.hidden{
	display: none;
}

/* xAutoComplete - DropDown Component*/
.xAutoComplete.default .xDropDown{
	position: relative;
}
.xAutoComplete.default .xDropDown.Disabled{
	pointer-events: none;
	cursor: not-allowed;
}
.xAutoComplete.default .xDropdownTrigger{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.xAutoComplete.default .xDropdownContentContainer{
	display: none;
	position: absolute;
	justify-content: center;
	align-items: center;
	background: rgba(41, 41, 41, 0.9607843137254902);
	z-index: 1000;
	overflow-y: auto;
	width: 100%;
	box-shadow: 0 1px 1px #ccc;
}
.xAutoComplete.default .xDropdownContent{
	width: inherit;
	height: inherit;
	background: #fff;
	display: block;
}
/* Mobile Modal */
.xAutoComplete.default .xDropdownContentContainer.MobileModal{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;	
	max-height: 100vh;
	z-index: 10000;
}
.xAutoComplete.default .xDropdownContentContainer.MobileModal .xDropdownContent{
	width: 80%;
	height: auto;
	max-height: calc(100vh - 100px);
}
/* xAutoComplete - xTextBox Component*/
/* Animations */
@keyframes barAnimation{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@keyframes xInputWrapperStatusContainerAnimationShow{
	0%{
		height: 0;
	}
	100%{
		height: 15px;
	}
}
@keyframes xInputWrapperStatusContainerAnimationHide{
	0%{
		height: 15px;
	}
	100%{
		height: 0;
	}
}
.xAutoComplete.default .xTextBox{
	padding-top: 15px;
	padding-bottom: 15px;
}
.xAutoComplete.default .xTextBox input{
	font-size: 18px;
	padding-bottom: 3px;
	padding-bottom: 3px;
	display: block;
	flex: 1;
	border: none;
	outline: none;
	height: inherit;
}
/* Disabled */ 
.xAutoComplete.default .xTextBox.disabled{
	cursor: not-allowed;
	pointer-events: none;
}
.xAutoComplete.default .xTextBox.disabled input{
	cursor: not-allowed;
	pointer-events: none;
	color: #b5b5b5 !important;
}
/* Icon */
.xAutoComplete.default .xTextBox .xIcon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.xAutoComplete.default .xTextBox .xIcon i{
	font-size: 20px;
}
.xAutoComplete.default .xTextBox .xIcon.hasIcon{
	padding-right: 8px;
}
/* Input Wrapper */
.xAutoComplete.default .xTextBox .xInputWrapper{
	position: relative;
	width: 100%;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputContainer{
	height: 30px;
	position: relative;
	display: flex;
	border-bottom: 1px solid #757575;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperLabel{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 17px;
	transition: all .3s;
	height: 30px;
	display: inline-flex;
	align-items: center;
	z-index: 10;
	white-space: nowrap;
	pointer-events: none;
	background: transparent;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputField{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex: 1;
	white-space: nowrap;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperFieldContainer{
	position: relative;
	flex: 1;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperIconPrefixContainer{
	display: flex;
	align-items: center;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperIconPrefixContainer .xIcon{
	height: 100%;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperLabel.raised{
	position: absolute;
	top: -22px;
	left: 0px;
	bottom: unset;
	color: #505050;
	font-size: 13px;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInfoSection{
	display: flex;
	position: absolute;
	width: 100%;
	bottom: -15px;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInfoText{
	flex: 1;
}
/* Error */
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInfoText.error{
	font-size: 13px;
	font-weight: 400;
	color: crimson;
}
/* Help */
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInfoText.help{
	font-size: 13px;
	font-weight: 400;
	color: #03a9f4;
}
/* Counter */
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperCounterContainer{
	font-size: 12px;
	font-weight: bold;
	color: #607D8B;
}
/* Disable */
.xAutoComplete.default .xTextBox .xInputWrapper.disabled .xInputWrapperLabel, .xInputWrapper.disabled i{
	color: #b5b5b5 !important;
	cursor: not-allowed;
	pointer-events: none;
}
.xAutoComplete.default .xTextBox .xInputWrapper.disabled .xInputWrapperInputContainer{
	border-bottom: 1px solid #b5b5b5;
}

/* xInputWrapper Bar */
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputBar{
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 0 !important;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputBar:before, .xAutoComplete.default .xInputWrapper .xInputWrapperInputBar:after{
	content:'';
	height: 2px; 
	width:0;
	bottom: 0px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputBar:before{
	left:50%;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputBar:after{
	right:50%;
}
.xAutoComplete.default .xTextBox .xInputWrapper .active.xInputWrapperInputBar:before, .xAutoComplete.default .xInputWrapper .active.xInputWrapperInputBar:after{
	width:50%;
}
.xAutoComplete.default .xTextBox .xInputWrapper .barAnimation.xInputWrapperInputBar:before{
	left: 0 !important;
	animation-name: barAnimation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.xAutoComplete.default .xTextBox .xInputWrapper .barAnimation.xInputWrapperInputBar:after{
	right: 0;
	width: 0;
}
/* Expand/Collapse Icon for Dropdown Inputs */
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputContainer::after{
	content : "";
	width: 10px;
    height: 10px;
    border: 1px solid black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
    transition: all 300ms;
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}
.xAutoComplete.default .xTextBox .xInputWrapper.showExpand .xInputWrapperInputContainer::after{
	display: block;
}
.xAutoComplete.default .xTextBox .xInputWrapper .xInputWrapperInputContainer.expand::after{
	transform: rotate(-45deg) !important;
}
.xAutoComplete.default .xTextBox .xInputWrapper.disabled .xInputWrapperInputContainer::after{
	border: 1px solid #b5b5b5;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.xAutoComplete.default .xTextBox .statusAnimationShow{
	animation-name: xInputWrapperStatusContainerAnimationShow;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
.xAutoComplete.default .xTextBox .statusAnimationHide{
	animation-name: xInputWrapperStatusContainerAnimationHide;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
/* xAutoComplete - StaticList Component */
.xAutoComplete.default .xStaticList{
}
.xAutoComplete.default .xStaticList .xStaticListItem{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.xAutoComplete.default .xStaticList .preSelect{
	background: #eee;
}
.xAutoComplete.default .xStaticList>div:last-child{
	border-bottom: none;
}