.xDrawer.default{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	z-index: 1000;
	display: none;
}
.xDrawer.default .xDrawerContent{
	width: 400px;
	height: inherit;
	z-index: 10;
	background: #fff;
	position: absolute;
	top: 0;
}
.xDrawer.default .xDrawerOverlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;	
	background: rgba(10,10,10,.86);
	z-index: -1;
}
/* Drawer Right*/
.xDrawer.default.drawerRight{
	right: 0;
}
.xDrawer.default.drawerRight .xDrawerContent{
	right: 0;
}
/* Drawer Left */
.xDrawer.default.drawerLeft{
	left: 0;
}
.xDrawer.default.drawerLeft .xDrawerContent{
	left: 0;
}



@media only screen and (max-width: 600px) {
	
}