.xCurrencyPreview.default{
	display: flex;
	align-items: center;
	font-size: 16px;
}
.xCurrencyPreview.default .xIcon.hasIcon{
}
.xCurrencyPreview.default .xIcon.hasIcon i{
	font-size: 16px;
	margin-right: 6px;
}
.xCurrencyPreview.default .xCurrencyPreviewValue{
	margin-right: 5px;
}