.xCardEditForm.default{
	position: relative;
}
.xCardEditForm.default .xCardEditFormCardContent{
	padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    position: relative;
    width: 100%;
}
.xCardEditForm.default .EditIcon{
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #ccc;
	cursor: pointer;
}
.xCardEditForm.default .EditIcon span{
	font-size: 14px;
}
@keyframes modalOpen{
	0%{
		transform: scale(1.5);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes modalClose{
	0%{
		transform: scale(1);
		opacity: 1;
	}
	100%{
		transform: scale(1.5);
		opacity: 0;
	}
}
.xCardEditForm.default .xModal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10001;
	background: transparent;
	display: none;
}
.xCardEditForm.default .xModal .xModalContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: inherit;
	height: inherit;
}
.xCardEditForm.default .xModal .xModalContainer .xModalOverlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(10,10,10,.86);
}
.xCardEditForm.default .xModal .xModalContainer .xModalContent{
	z-index: 100;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	height: auto;
	width: auto;
	border-radius: 4px;
}
/* Modal Width */
.xCardEditForm.default .xModal.width200 .xModalContent{
	width: 200px;
}
.xCardEditForm.default .xModal.width300 .xModalContent{
	width: 300px;
}
.xCardEditForm.default .xModal.width400 .xModalContent{
	width: 400px;
}
.xCardEditForm.default .xModal.width500 .xModalContent{
	width: 500px;
}
.xCardEditForm.default .xModal.width600 .xModalContent{
	width: 600px;
}
.xCardEditForm.default .xModal.width700 .xModalContent{
	width: 700px;
}
.xCardEditForm.default .xModal.width800 .xModalContent{
	width: 800px;
}
.xCardEditForm.default .xModal.width900 .xModalContent{
	width: 900px;
}
.xCardEditForm.default .xModal.fullwidth .xModalContent{
	width: 100%;
	border-radius: 0;
}
.xCardEditForm.default .xModal.width500 .xModalHeader, .xCardEditForm.default .xModal.width600 .xModalHeader, .xCardEditForm.default .xModal.width700 .xModalHeader, .xCardEditForm.default .xCardEditForm.default .xModal.width800 .xModalHeader, .xCardEditForm.default .xCardEditForm.default .xModal.width900 .xModalHeader{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/* Modal Height */
.xCardEditForm.default .xModal.height200 .xModalContent{
	height: 200px;
}
.xCardEditForm.default .xModal.height200 .xModalSection{
	height: calc(200px - 40px);
}
.xCardEditForm.default .xModal.height300 .xModalContent{
	height: 300px;
}
.xCardEditForm.default .xModal.height300 .xModalSection{
	height: calc(300px - 40px);
}
.xCardEditForm.default .xModal.height400 .xModalContent{
	height: 400px;
}
.xCardEditForm.default .xModal.height400 .xModalSection{
	height: calc(400px - 40px);
}
.xCardEditForm.default .xModal.height500 .xModalContent{
	height: 500px;
}
.xCardEditForm.default .xModal.height500 .xModalSection{
	height: calc(500px - 40px);
}
.xCardEditForm.default .xModal.height600 .xModalContent{
	height: 600px;
}
.xCardEditForm.default .xModal.height600 .xModalSection{
	height: calc(600px - 40px);
}
.xCardEditForm.default .xModal.height700 .xModalContent{
	height: 700px;
}
.xCardEditForm.default .xModal.height700 .xModalSection{
	height: calc(700px - 40px);
}
.xCardEditForm.default .xModal.height800 .xModalContent{
	height: 800px;
}
.xCardEditForm.default .xModal.height800 .xModalSection{
	height: calc(800px - 40px);
}
.xCardEditForm.default .xModal.height900 .xModalContent{
	height: 900px;
}
.xCardEditForm.default .xModal.height900 .xModalSection{
	height: calc(900px - 40px);
}
.xCardEditForm.default .xModal.fullheight .xModalContent{
	height: 100vh;
	border-radius: 0;
}
.xCardEditForm.default .xModal.fullheight .xModalSection{
	height: calc(100vh - 40px);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.xCardEditForm.default .xModal.fullheight .xModalHeader{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/* Animation */ 
.xCardEditForm.default .xModal .xModalOpen{
	animation-name: modalOpen;
	animation-duration: 300ms;
}
.xCardEditForm.default .xModal .xModalClose{
	animation-name: modalClose;
	animation-duration: 300ms;
}

/* Modal Header And Content Style */
.xCardEditForm.default .xModal .xModalHeader{
	background: #3f51b5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
}
.xCardEditForm.default .xModal .xModalHeader p{
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	margin: 0;
	flex: 1;
	display: flex;
	align-items: center;
}
.xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: rgba(10,10,10,.2);
	border: none;
	border-radius: 290486px;
	cursor: pointer;
	display: inline-block;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: 0;
	height: 20px;
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
	outline: 0;
	position: relative;
	vertical-align: top;
	width: 20px;
}
.xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose:focus, .xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose:hover{
	background-color: rgba(10,10,10,.3);
}
.xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose::before{
	height: 2px;
	width: 50%;
}
.xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose::after{
	height: 50%;
	width: 2px;
}
.xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose:after, .xCardEditForm.default .xModal .xModalHeader .xModalHeaderClose:before {
	background-color: #fff;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.xCardEditForm.default .xModal .xModalSection{
	padding: 20px;
	padding-top: 0;
	overflow-y: auto;
	background: #fff;
}
@media only screen and (max-width: 700px) {
	.xCardEditForm.default .xModal.width200, .xCardEditForm.default .xModal.width300, .xCardEditForm.default .xModal.width400, .xCardEditForm.default .xModal.width500, .xCardEditForm.default .xModal.width600, .xCardEditForm.default .xModal.width700, .xCardEditForm.default .xModal.width800, .xCardEditForm.default .xModal.width900{
		width: 100% !important;
	}
	.xCardEditForm.default .xModal.width200 .xModalContent, .xCardEditForm.default .xModal.width300 .xModalContent, .xCardEditForm.default .xModal.width400 .xModalContent, .xCardEditForm.default .xModal.width500 .xModalContent, .xCardEditForm.default .xModal.width600 .xModalContent, .xCardEditForm.default .xModal.width700 .xModalContent, .xCardEditForm.default .xModal.width800 .xModalContent, .xCardEditForm.default .xModal.width900 .xModalContent{
		width: 100% !important;
	}
	.xCardEditForm.default .xModal.height500 .xModalContent, .xCardEditForm.default .xModal.height600 .xModalContent, .xCardEditForm.default .xModal.height700 .xModalContent, .xCardEditForm.default .xModal.height800 .xModalContent, .xCardEditForm.default .xModal.height900 .xModalContent{
		height: auto;
		max-height: 100vh;
	}
	.xCardEditForm.default .xModal.height500 .xModalSection, .xCardEditForm.default .xModal.height600 .xModalSection, .xCardEditForm.default .xModal.height700 .xModalSection, .xCardEditForm.default .xModal.height800 .xModalSection, .xCardEditForm.default .xModal.height900 .xModalSection{
		height: calc(100vh - 40px);
	}
}
.ModalHeader{
	height: 40px;
	display: flex;
	width: 100%;
	background: crimson;
	padding-right: 20px;
}
.ModalTitle{
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	flex: 1;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}
.ModalClose{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 40px;
}
.ModalClose span{
	color: #fff;
	font-size: 22px;
}
.ModalContent{
	height: calc(100vh - 40px);
	overflow-y: auto;
}
.FormContent{
	padding: 20px;
}